<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">

        <!-- Kullanıcı Paneli -->
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="Profil Fotoğrafı">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#userMenu" aria-expanded="true">
                    <span>
                        QR Menü Yönetim Paneli
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="collapse in" id="userMenu" aria-expanded="true">
                    <ul class="nav">
                        <li>
                            <a href="/Category/Index/">
                                <span class="link-collapse">Menü Gör</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Account/ChangePassword">
                                <span class="link-collapse">Şifre Güncelle</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Settings/Index">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Ana Menü -->
        <ul class="nav">
            <li class="nav-item active">
                <a href="/Home/Index">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Category/Index/">
                    <i class="la la-keyboard-o"></i>
                    <p>Kategoriler</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Product/Index/">
                    <i class="la la-th"></i>
                    <p>Ürünler</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Booking/Index/">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/About/Index/">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Contact/Index/">
                    <i class="la la-envelope"></i>
                    <p>İletişim</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Discount/Index/">
                    <i class="la la-tags"></i>
                    <p>İndirimler</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Feature/Index">
                    <i class="la la-star"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/SocialMedia/Index">
                    <i class="la la-share-alt"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Testimonial/Index">
                    <i class="la la-bar-chart"></i>
                    <p>Referanslar</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Settings/Index">
                    <i class="la la-cog"></i>
                    <p>Ayarlar</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Account/Logout">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>
