@model List<QRMenuWebUI.Dtos.CategoryDtos.ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="margin-left:0; padding-left:0;">
                <h4 class="page-title">Tables</h4>
                <div class="card shadow" style="margin-left:0;">
                    <div class="card-header">
                        <div class="card-title">Kategori Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub mb-3">
                            Kategori ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryID</td>
                                            <td>@item.Name</td>
                                            <td>@item.Status</td>
                                            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger btn-sm">Sil</a></td>
                                            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success btn-sm">Güncelle</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">Kategori bulunamadı.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Category/CreateCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
