
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Scripts {
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var connection = new signalR.HubConnectionBuilder()
                                    .withUrl("https://localhost:44336/SignalRHub")
                                    .build();

                                // İlk durumu yaz
                                $("#connstatus").text(connection.state);

                                // Bağlantıyı başlat
                                connection.start().then(() => {
                                    $("#connstatus").text(connection.state);
                                }).catch((err) => {
                                    console.log(err);
                                    $("#connstatus").text("Bağlantı Hatası");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            <!-- Bağlantı durumunu gösterecek alan -->
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="alert alert-success">
                        Bağlantının Durumu: <strong id="connstatus"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
