<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Müşterilerimiz Ne Diyor
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Harika bir deneyimdi! Yemekler çok lezzetliydi ve servis mükemmeldi. Özellikle pizzaları denemenizi öneririm. Kesinlikle tekrar geleceğim ve herkese tavsiye ediyorum.
                            </p>
                            <h6>
                                Ayşe Yılmaz
                            </h6>
                            <p>
                                Mutlu Müşteri
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Muhteşem lezzetler ve samimi atmosfer! Burgerler ve patates kızartmaları harikaydı. Personel çok ilgili ve güler yüzlü. Ailecek gelmeyi çok seviyoruz.
                            </p>
                            <h6>
                                Mehmet Kaya
                            </h6>
                            <p>
                                Değerli Müşteri
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>