@model QRMenuWebUI.Dtos.AboutDtos.UpdateAboutDto

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">About İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">

                <form asp-action="UpdateAbout" asp-controller="About" method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">About Güncelleme</div>
                        </div>

                        <!-- ID Gizli Alan -->
                        <input type="hidden" asp-for="AboutID" />

                        <div class="card-body">
                            <!-- Title -->
                            <div class="form-group mb-3">
                                <label for="Title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <!-- Description -->
                            <div class="form-group mb-3">
                                <label for="Description">Açıklama Giriniz</label>
                                <textarea class="form-control" asp-for="Description" id="Description" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <!-- ImageUrl -->
                            <div class="form-group mb-3">
                                <label for="ImageUrl">Görsel Url Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">About Güncelle</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
