@model QRMenuWebUI.Dtos.BookingDtos.CreateBookingDto

@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Booking İşlemleri</h4>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="CreateBooking" asp-controller="Booking" method="post">
                    <div class="card shadow-sm border-0">
                        <div class="card-header bg-white border-bottom">
                            <h5 class="card-title mb-0">Yeni Booking Ekle</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group mb-3">
                                <label for="Name" class="form-label fw-semibold">Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Ad Soyad giriniz" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="text" class="form-label fw-semibold">Telefon Numarası</label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone" placeholder="0539 297 79 32" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="Mail" class="form-label fw-semibold">Mail Adressi</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail" placeholder="korogluosman96@gmail.com" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="Date" class="form-label fw-semibold">Kişi Sayısı</label>
                                <input type="number" class="form-control" asp-for="PersonCount" id="PersonCount" />
                                <span asp-validation-for="PersonCount" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Date" class="form-label fw-semibold">Rezervasyon Tarihi</label>
                                <input type="date" class="form-control" asp-for="Date" id="PersonCount" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="card-footer bg-white border-top d-flex justify-content-between">
                            <a href="/Booking/Index" class="btn btn-outline-secondary">Geri Dön</a>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
